<div class="page" data-page="inputs">

  <!-- Top Navbar. In Material theme it should be inside of the page-->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <!-- Right link contains only icon - additional "icon-only" class-->
        <a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
      </div>
      <div class="center">Input configuration</div>
    </div>
  </div>
  <div class="page-content">
    <h1><%=message%></h1>
    <h2><%=error.status%></h2>
    <pre><%=error.stack%></pre>
  </div>
</div>
